
.text {
  color: rgba(156, 177, 162, 1);
  color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  color: rgba(244, 239, 229, 1);
  color: rgba(26, 58, 31, 1);
  color: rgb(48, 106, 56);
  color: rgb(135, 111, 16);
}

